<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>TcUI</string>
	<key>uuid</key>
	<string>F9E2A347-B03A-46A2-8006-782A3EF02654</string>
</dict>
</plist>
