<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>TcUI</string>
	<key>ordering</key>
	<array>
		<string>0EC02E10-3856-4DCC-850E-728098C2A6BC</string>
		<string>C4DF1A53-9E61-49F4-9CD7-D125E445B1BC</string>
		<string>A3472FC7-0A92-4D0B-8899-C1AC27623187</string>
		<string>BF152C8C-F8DF-4FB4-B3BB-BFC88FB0DE97</string>
		<string>C217E78F-BCBF-45D2-9BC0-89E3CD1727D3</string>
		<string>12A9B836-EA25-46D7-BB61-759404C3DC2F</string>
		<string>967D9212-D142-445A-8AE1-9470D215D981</string>
		<string>58A55AD2-65D5-4D9D-8042-F5375ECADB97</string>
	</array>
	<key>uuid</key>
	<string>F9E2A347-B03A-46A2-8006-782A3EF02654</string>
</dict>
</plist>
